{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirma la direccion de correo" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirma la direccion de correo" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Por favor confirma que <a href="mailto:{{ email }}">{{ email }}</a> es tu direccion de correo.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}El enlace de confirmacion ha expirado o es invalido. Por favor <a href="{{ email_url }}"> emite una nueva solicitud de confirmacion de correo electronico</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
